<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Salty</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/profile">Profile</a></li>

        <% if (user) {%>
          <li><a href="/auth/logout">Logout</a></li>
        <%} else {%>
        <li><a href="/auth/enter">Enter App</a></li>
        <% } %>
      </ul>
    </nav>
    <h3>login using...</h3>
    <main>
      <a class="google-btn" href="/auth/google">Google+</a>
    </main>

  </body>
</html>
